.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u2764-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2765-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2766-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3864-6
{
	font-family: open-sans-n3, sans-serif;
}

#u2971-4,#u2936-10,#u2956-5
{
	font-family: open-sans-n3, sans-serif;
}

#u2970-5
{
	font-family: open-sans-n3, sans-serif;
}

#u2964-5
{
	font-family: open-sans-n3, sans-serif;
}

#u2954-5
{
	font-family: open-sans-n3, sans-serif;
}

#u2977-7
{
	font-family: open-sans-n4, sans-serif;
}

#u2977,#u2977-3
{
	font-family: open-sans-n8, sans-serif;
}

