.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u2764-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2765-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2766-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3864-6
{
	font-family: open-sans-n3, sans-serif;
}

#u2502-4,#u2503-8
{
	font-family: open-sans-n3, sans-serif;
}

#u2505-15
{
	font-family: open-sans-n6, sans-serif;
}

#u2623-7
{
	font-family: open-sans-n4, sans-serif;
}

#u2623,#u2623-3
{
	font-family: open-sans-n8, sans-serif;
}

#u2622-4
{
	font-family: open-sans-n7, sans-serif;
}

