.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u2764-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2765-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2766-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3864-6
{
	font-family: open-sans-n3, sans-serif;
}

#u2788-4,#u2799-4,#u4576-4,#u2801-6,#u4575-4,#u2800-4,#u4577-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3138-7
{
	font-family: open-sans-n4, sans-serif;
}

#u3138,#u3138-3
{
	font-family: open-sans-n8, sans-serif;
}

#u3139-4
{
	font-family: open-sans-n7, sans-serif;
}

