.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u2764-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2765-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2766-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3864-6
{
	font-family: open-sans-n3, sans-serif;
}

#u2845-3
{
	font-family: open-sans-n3, sans-serif;
}

#u2842-7
{
	font-family: open-sans-n4, sans-serif;
}

#u2842,#u2842-3
{
	font-family: open-sans-n8, sans-serif;
}

#u2845-2,#u2843-4
{
	font-family: open-sans-n7, sans-serif;
}

