.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u2764-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2765-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2766-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3864-6
{
	font-family: open-sans-n3, sans-serif;
}

#u2928-4,#u2929-2,#u2929-3,#u2929-5,#u2929-6,#u2929-8
{
	font-family: open-sans-n3, sans-serif;
}

#u2627-7
{
	font-family: open-sans-n4, sans-serif;
}

#u2627,#u2627-3
{
	font-family: open-sans-n8, sans-serif;
}

#u2626-4
{
	font-family: open-sans-n7, sans-serif;
}

