.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u2764-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2765-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2766-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3864-6
{
	font-family: open-sans-n3, sans-serif;
}

#u2693-4,#u2690-4,#u2691-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2697-12,#u2679-7
{
	font-family: open-sans-n4, sans-serif;
}

#u2679,#u2679-3
{
	font-family: open-sans-n8, sans-serif;
}

#u2697-2,#u2697-4,#u2697-6,#u2697-10,#u2680-4
{
	font-family: open-sans-n7, sans-serif;
}

