.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 853px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 21px;
}

#u2763
{
	z-index: 50;
	width: 1160px;
	height: 57px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u2772
{
	z-index: 67;
	width: 170px;
	top: 7px;
	left: 50%;
	margin-left: -478px;
}

#u2772_img
{
	padding-right: 1px;
}

#u2764-4
{
	z-index: 51;
	width: 85px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -279px;
}

#u2764-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -279px;
}

#u2765-4
{
	z-index: 55;
	width: 80px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -170px;
}

#u2765-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -170px;
}

#u2766-4
{
	z-index: 59;
	width: 68px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -61px;
}

#u2766-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -61px;
}

#u2767-4
{
	z-index: 63;
	width: 173px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: 36px;
}

#u2767-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px 36px;
}

#u3864-6
{
	z-index: 69;
	width: 174px;
	min-height: 29px;
	margin-left: 785px;
}

#u2498
{
	z-index: 2;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #88A2A3;
	padding-bottom: 36px;
	left: -1px;
	margin-top: 8px;
	position: relative;
}

#u2499
{
	z-index: 3;
	width: 475px;
	-pie-box-shadow: 0px 0px 8px 2px #C3D0D1;
	-moz-box-shadow: 0px 0px 8px 2px rgba(136, 162, 163, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(136, 162, 163, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(136, 162, 163, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 5px 5px 0px 0px ;
	-webkit-border-radius: 5px 5px 0px 0px ;
	-khtml-border-radius: 5px 5px 0px 0px ;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 207px;
	padding: 51px 41px 14px 40px;
}

#u2502-4
{
	z-index: 4;
	width: 469px;
	min-height: 48px;
	text-align: center;
	line-height: 41px;
	letter-spacing: 6px;
	font-size: 34px;
	color: #88A2A3;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2503-8
{
	z-index: 8;
	width: 470px;
	min-height: 130px;
	text-align: left;
	line-height: 23px;
	font-size: 16px;
	color: #88A2A3;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 5px;
	margin-top: 63px;
	position: relative;
}

#ppu2511
{
	width: 0.01px;
	margin-left: 93px;
	margin-top: 48px;
	position: relative;
}

#pu2511
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u2511
{
	z-index: 31;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #88A2A3;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
}

#u2516
{
	z-index: 32;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #88A2A3;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 24px;
	position: relative;
}

#u2519
{
	z-index: 33;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #88A2A3;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 25px;
	position: relative;
}

#u2522
{
	z-index: 34;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #88A2A3;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 25px;
	position: relative;
}

#u2525
{
	z-index: 35;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #88A2A3;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 1px;
	margin-top: 25px;
	position: relative;
}

#u2528
{
	z-index: 36;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #88A2A3;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 26px;
	position: relative;
}

#u2993
{
	z-index: 37;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #88A2A3;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 24px;
	position: relative;
}

#u2505-15
{
	z-index: 16;
	width: 288px;
	min-height: 300px;
	text-align: left;
	line-height: 35px;
	font-size: 16px;
	color: #88A2A3;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#pu2624
{
	width: 0.01px;
	padding-bottom: 39px;
	left: -100px;
	top: -40px;
	margin-bottom: -39px;
	position: relative;
}

#u2624
{
	z-index: 38;
	width: 1160px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -50%;
}

#u2623-7
{
	z-index: 39;
	width: 634px;
	min-height: 23px;
	text-align: left;
	line-height: 16px;
	font-size: 13px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 4px;
	left: 50%;
	margin-left: -478px;
}

#u2623,#u2623-3
{
	font-family: open-sans, sans-serif;
	font-weight: 800;
}

#u2622-4
{
	z-index: 46;
	width: 64px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	line-height: 16px;
	font-size: 13px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	bottom: 4px;
	left: 50%;
	margin-left: 416px;
}

#u2622-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px 416px;
}

#u2622-4:hover p
{
	color: #88A2A3;
	visibility: inherit;
}

