.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1474px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 21px;
	margin-bottom: 67px;
}

#u2763
{
	z-index: 28;
	width: 1160px;
	height: 57px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u2772
{
	z-index: 45;
	width: 170px;
	top: 7px;
	left: 50%;
	margin-left: -478px;
}

#u2772_img
{
	padding-right: 1px;
}

#u2764-4
{
	z-index: 29;
	width: 85px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -279px;
}

#u2764-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -279px;
}

#u2765-4
{
	z-index: 33;
	width: 80px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -170px;
}

#u2765-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -170px;
}

#u2766-4
{
	z-index: 37;
	width: 68px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -61px;
}

#u2766-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -61px;
}

#u2767-4
{
	z-index: 41;
	width: 173px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: 36px;
}

#u2767-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px 36px;
}

#u3864-6
{
	z-index: 47;
	width: 174px;
	min-height: 29px;
	margin-left: 785px;
}

#pu2846
{
	width: 0.01px;
	margin-top: 7px;
	position: relative;
}

#u2846
{
	z-index: 10;
	width: 633px;
	position: relative;
	margin-right: -10000px;
}

#u2844
{
	z-index: 2;
	width: 306px;
	border-style: none;
	border-color: transparent;
	background-color: #849FA0;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 653px;
}

#u2845-7
{
	z-index: 3;
	width: 238px;
	min-height: 149px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 39px;
}

#u2845-2
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u2845-3
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u2848
{
	z-index: 12;
	width: 633px;
	margin-top: 27px;
	position: relative;
}

#u2846_img,#u2848_img
{
	margin-right: -12px;
}

#u2850
{
	z-index: 14;
	width: 633px;
	margin-top: 27px;
	position: relative;
}

#u2846_clip,#u2848_clip,#u2850_clip
{
	overflow: hidden;
	width: 633px;
	height: 432px;
}

#u2850_img
{
	margin: -56px -74px -27px -62px;
}

#u2841
{
	z-index: 16;
	width: 1160px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: fixed;
	bottom: -2px;
	left: 50%;
	margin-left: -50%;
}

#u2842-7
{
	z-index: 17;
	width: 678px;
	min-height: 23px;
	text-align: left;
	line-height: 16px;
	font-size: 13px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 3px;
	left: 50%;
	margin-left: -478px;
}

#u2842,#u2842-3
{
	font-family: open-sans, sans-serif;
	font-weight: 800;
}

#u2843-4
{
	z-index: 24;
	width: 64px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	line-height: 16px;
	font-size: 13px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	bottom: 3px;
	left: 50%;
	margin-left: 416px;
}

#u2843-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px 416px;
}

#u2843-4:hover p
{
	color: #88A2A3;
	visibility: inherit;
}

