.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1463px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 21px;
	margin-bottom: 71px;
}

#u2763
{
	z-index: 29;
	width: 1160px;
	height: 57px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u2772
{
	z-index: 46;
	width: 170px;
	top: 7px;
	left: 50%;
	margin-left: -478px;
}

#u2772_img
{
	padding-right: 1px;
}

#u2764-4
{
	z-index: 30;
	width: 85px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -279px;
}

#u2764-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -279px;
}

#u2765-4
{
	z-index: 34;
	width: 80px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -170px;
}

#u2765-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -170px;
}

#u2766-4
{
	z-index: 38;
	width: 68px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -61px;
}

#u2766-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -61px;
}

#u2767-4
{
	z-index: 42;
	width: 173px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: 36px;
}

#u2767-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px 36px;
}

#u3864-6
{
	z-index: 48;
	width: 174px;
	min-height: 29px;
	margin-left: 785px;
}

#pu2870
{
	width: 0.01px;
	margin-top: 6px;
	position: relative;
}

#u2870
{
	z-index: 4;
	width: 633px;
	position: relative;
	margin-right: -10000px;
}

#u2870_clip
{
	overflow: hidden;
	width: 633px;
	height: 432px;
}

#u2870_img
{
	margin-top: -41px;
	margin-right: -77px;
}

#u2872
{
	z-index: 6;
	width: 306px;
	border-style: none;
	border-color: transparent;
	background-color: #849FA0;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	left: 653px;
}

#u2875-8
{
	z-index: 9;
	width: 238px;
	min-height: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 39px;
}

#u2875-2
{
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u2875-3
{
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u2875-5
{
	line-height: 19px;
}

#u2868
{
	z-index: 2;
	width: 631px;
	margin-top: 26px;
	position: relative;
}

#u2868_clip
{
	overflow: hidden;
	width: 631px;
	height: 432px;
}

#u2868_img
{
	margin-right: -15px;
}

#u2873
{
	z-index: 7;
	width: 631px;
	margin-top: 25px;
	position: relative;
}

#u2892
{
	z-index: 17;
	width: 1160px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -50%;
}

#u2891-7
{
	z-index: 18;
	width: 603px;
	min-height: 23px;
	text-align: left;
	line-height: 16px;
	font-size: 13px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 4px;
	left: 50%;
	margin-left: -478px;
}

#u2891,#u2891-3
{
	font-family: open-sans, sans-serif;
	font-weight: 800;
}

#u2890-4
{
	z-index: 25;
	width: 64px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	line-height: 16px;
	font-size: 13px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	bottom: 4px;
	left: 50%;
	margin-left: 416px;
}

#u2890-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px 416px;
}

#u2890-4:hover p
{
	color: #88A2A3;
	visibility: inherit;
}

