.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1482px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 21px;
	margin-bottom: 71px;
}

#u2763
{
	z-index: 32;
	width: 1160px;
	height: 57px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u2772
{
	z-index: 49;
	width: 170px;
	top: 7px;
	left: 50%;
	margin-left: -478px;
}

#u2772_img
{
	padding-right: 1px;
}

#u2764-4
{
	z-index: 33;
	width: 85px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -279px;
}

#u2764-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -279px;
}

#u2765-4
{
	z-index: 37;
	width: 80px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -170px;
}

#u2765-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -170px;
}

#u2766-4
{
	z-index: 41;
	width: 68px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: -61px;
}

#u2766-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -61px;
}

#u2767-4
{
	z-index: 45;
	width: 173px;
	min-height: 23px;
	top: 21px;
	left: 50%;
	margin-left: 36px;
}

#u2767-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px 36px;
}

#u3864-6
{
	z-index: 51;
	width: 174px;
	min-height: 29px;
	margin-left: 785px;
}

#pu2914
{
	width: 0.01px;
	margin-top: 7px;
	position: relative;
}

#u2914
{
	z-index: 8;
	width: 631px;
	position: relative;
	margin-right: -10000px;
}

#u2914_clip
{
	overflow: hidden;
	width: 631px;
	height: 432px;
}

#u2914_img
{
	margin: -7px -16px -7px -30px;
}

#u2916
{
	z-index: 10;
	width: 306px;
	border-style: none;
	border-color: transparent;
	background-color: #849FA0;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	left: 653px;
}

#u2917-7
{
	z-index: 11;
	width: 238px;
	min-height: 144px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 39px;
}

#u2917-2
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u2917-3
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#pu2912
{
	width: 0.01px;
	margin-top: 26px;
	position: relative;
}

#u2912
{
	z-index: 2;
	width: 307px;
	position: relative;
	margin-right: -10000px;
}

#u2912_clip
{
	overflow: hidden;
	width: 307px;
	height: 435px;
}

#u2912_img
{
	margin-left: -12px;
	margin-right: -21px;
	margin-bottom: -75px;
}

#pu4482
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 324px;
}

#u4482
{
	z-index: 4;
	width: 307px;
	position: relative;
}

#u4482_img
{
	margin: -75px -21px -228px -12px;
}

#u4505
{
	z-index: 6;
	width: 307px;
	margin-top: 21px;
	position: relative;
}

#u4482_clip,#u4505_clip
{
	overflow: hidden;
	width: 307px;
	height: 207px;
}

#u4505_img
{
	margin: -208px -9px -73px;
}

#u2918
{
	z-index: 18;
	width: 631px;
	margin-top: 26px;
	position: relative;
}

#u2918_clip
{
	overflow: hidden;
	width: 631px;
	height: 435px;
}

#u2918_img
{
	margin: -284px -9px -230px 7px;
}

#u2645
{
	z-index: 20;
	width: 1160px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: fixed;
	bottom: -2px;
	left: 50%;
	margin-left: -50%;
}

#u2643-7
{
	z-index: 21;
	width: 626px;
	min-height: 23px;
	text-align: left;
	line-height: 16px;
	font-size: 13px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 3px;
	left: 50%;
	margin-left: -478px;
}

#u2643,#u2643-3
{
	font-family: open-sans, sans-serif;
	font-weight: 800;
}

#u2644-4
{
	z-index: 28;
	width: 64px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	line-height: 16px;
	font-size: 13px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	bottom: 3px;
	left: 50%;
	margin-left: 416px;
}

#u2644-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px 416px;
}

#u2644-4:hover p
{
	color: #88A2A3;
	visibility: inherit;
}

