#u2763
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
}

#u2772
{
	position: fixed;
}

#u2764-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #88A2A3;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u2765-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #88A2A3;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u2766-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #88A2A3;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u2767-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #88A2A3;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u2764-4:hover p,#u2764-4:hover h1,#u2765-4:hover p,#u2765-4:hover h1,#u2766-4:hover p,#u2766-4:hover h1,#u2767-4:hover p,#u2767-4:hover h1
{
	color: #455C5D;
	visibility: inherit;
}

#u3864-6
{
	text-align: right;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3864-3
{
	color: #88A2A3;
}

