.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u4177-4,#u4178-4,#u4179-4,#u4180-4,#u4181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3788-2
{
	font-family: open-sans-n7, sans-serif;
}

#u3788-3,#u4407-4,#u4408-4,#u4409-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4410-12
{
	font-family: open-sans-n4, sans-serif;
}

#u4410,#u4410-6,#u4410-8
{
	font-family: open-sans-n8, sans-serif;
}

