.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u4177-4,#u4178-4,#u4179-4,#u4180-4,#u4181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3647-2
{
	font-family: open-sans-n7, sans-serif;
}

#u3647-3,#u4348-4,#u4349-4,#u4350-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4351-12
{
	font-family: open-sans-n4, sans-serif;
}

#u4351,#u4351-6,#u4351-8
{
	font-family: open-sans-n8, sans-serif;
}

