.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u4177-4,#u4178-4,#u4179-4,#u4180-4,#u4181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3955-16
{
	font-family: open-sans-n6, sans-serif;
}

#u3951-4,#u3952-7,#u4433-4,#u4434-4,#u4435-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4436-12
{
	font-family: open-sans-n4, sans-serif;
}

#u4436,#u4436-6,#u4436-8
{
	font-family: open-sans-n8, sans-serif;
}

