.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u4177-4,#u4178-4,#u4179-4,#u4180-4,#u4181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4000-4,#u3987-5
{
	font-family: open-sans-n3, sans-serif;
}

#u3988-3
{
	font-family: open-sans-n4, sans-serif;
}

#u3995-5
{
	font-family: open-sans-n3, sans-serif;
}

#u3996-3
{
	font-family: open-sans-n4, sans-serif;
}

#u3971-5
{
	font-family: open-sans-n3, sans-serif;
}

#u3970-3
{
	font-family: open-sans-n4, sans-serif;
}

#u3985-5
{
	font-family: open-sans-n3, sans-serif;
}

#u3982-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu3986_input,#widgetu3992_input,#widgetu3967_input,#widgetu3981_input
{
	font-family: open-sans, sans-serif;
}

#u4451-4,#u4452-4,#u4453-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4454-12
{
	font-family: open-sans-n4, sans-serif;
}

#u4454,#u4454-6,#u4454-8
{
	font-family: open-sans-n8, sans-serif;
}

