.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u4177-4,#u4178-4,#u4179-4,#u4180-4,#u4181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3777-2
{
	font-family: open-sans-n7, sans-serif;
}

#u3777-3,#u4399-4,#u4400-4,#u4401-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4402-12
{
	font-family: open-sans-n4, sans-serif;
}

#u4402,#u4402-6,#u4402-8
{
	font-family: open-sans-n8, sans-serif;
}

