.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u4177-4,#u4178-4,#u4179-4,#u4180-4,#u4181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3707-2
{
	font-family: open-sans-n7, sans-serif;
}

#u3707-3,#u4332-4,#u4333-4,#u4334-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4335-12
{
	font-family: open-sans-n4, sans-serif;
}

#u4335,#u4335-6,#u4335-8
{
	font-family: open-sans-n8, sans-serif;
}

