.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u4177-4,#u4178-4,#u4179-4,#u4180-4,#u4181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3596-4,#u3598-4,#u3639-4,#u3595-4,#u4324-4,#u4325-4,#u4326-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4327-12
{
	font-family: open-sans-n4, sans-serif;
}

#u4327,#u4327-6,#u4327-8
{
	font-family: open-sans-n8, sans-serif;
}

