.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u4177-4,#u4178-4,#u4179-4,#u4180-4,#u4181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3949-4,#u3950-10,#u4423-4,#u4424-4,#u4425-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4426-12
{
	font-family: open-sans-n4, sans-serif;
}

#u4426,#u4426-6,#u4426-8
{
	font-family: open-sans-n8, sans-serif;
}

