.Subhead-2
{
	font-family: open-sans-n4, sans-serif;
}

.Subhead-3
{
	font-family: open-sans-n3, sans-serif;
}

#u4177-4,#u4178-4,#u4179-4,#u4180-4,#u4181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3331-2,#u3331-4,#u3331-6,#u3331-10
{
	font-family: open-sans-n7, sans-serif;
}

#u3347-4,#u3354-4,#u3366-4,#u4308-4,#u4309-4,#u4310-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4311-12
{
	font-family: open-sans-n4, sans-serif;
}

#u4311,#u4311-6,#u4311-8
{
	font-family: open-sans-n8, sans-serif;
}

